*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-image: linear-gradient(to bottom right, rgb(40, 128, 150),rgb(195,43,165));
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #071115;
    box-shadow: 0 0 30px black;
}


#display {
    margin: 0 10px;
    height: 130px;
    width: auto;
    max-width: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 40px;
    width:  40px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.1);
}

button#equal{
    height: 60px;
    background-color: #adf9e7;
}

.calculator button#clear{
    background-color: rgb(187, 88, 215);
    color: rgb(234, 231, 233);
}

.calculator button.btn-operator{
    background-color: rgb(73, 185, 185);
}

.calculator button.btn-numbers{
    background-color: #c3eaff;
}
 